# Rocket.Chat сервер
ROCKETCHAT_SERVER_URL=https://your-rocket-chat-url.com

# Учётные данные администратора
ROCKETCHAT_ADMIN_USERNAME=auser
ROCKETCHAT_ADMIN_PASSWORD=admin123ADMIN!@#

# Режим отладки (0 или 1)
DEBUG=0